nav {
  background-color: #007bff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  border-bottom: 1px solid #333;
}

nav a:hover {
  background-color: green;
}

router-outlet {
  margin-top: 40px;
}
